// =====================================================================================================================
.header {
	width: 100%;
	padding: 49px 0 55px;
	z-index: 35;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__buttons {
		display: flex;
		column-gap: 31px;
	}
	&__button {
		@include svgHover(#199cff);
	}
}
.scrolled {
	position: fixed;
	top: 0;
	padding: 10px;
	background-color: #000000;
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		background-color: #fff;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		background-color: #fff;
	}
	.search__input {
		background-color: rgba(#ffff, 0.4);
		color: #fff;
		transition: 0.6s;
		&::placeholder {
			color: #fff;
		}
		&:focus{
			border-color: $hoverColor;
		}
	}
	.language-select {
		background: none;
		color: #fff;
	}
	.search {
		svg {
			path {
				stroke: #fff;
			}
		}
	}
	.language-select-arrow {
		svg {
			path {
				fill: #fff;
			}
		}
	}
	.menu__link {
		color: #fff;
		border-color: #fff;
	}
	.header__button {
		svg {
			filter: brightness(0) invert(1);
			path {
				stroke: #fff;
			}
		}
		&:hover{
			svg {
				filter: none;
			}
		}
		@include svgHover($hoverColor);
	}
	// .search__input {
	// 	background: none;
	// 	color: #000000;
	// 	&::placeholder {
	// 		color: #B1AEAE;
	// 	}
	// }
	// .language-select{
	// 	background:none;
	// 	color:#000000;
	// }
	// .search {
	// 	svg {
	// 		path {
	// 			stroke: #B1AEAE;
	// 		}
	// 	}
	// }
	// .language-select-arrow{
	// 	svg{
	// 		path{
	// 			fill:#000000;
	// 		}
	// 	}
	// }
	// .menu__link {
	// 	color: #000000;
	// 	border-color: #000000;
	// }
	// .header__button {
	// 	svg{
	// 		filter:none;
	// 	}
	// 	svg {
	// 		path {
	// 			stroke: #000000;
	// 		}
	// 	}
	// }
}
.menu {
	&__list {
		display: flex;
		column-gap: 41px;
		align-items: center;
	}
	&__link {
		@include hoverText(#199cff);
	}
	&__link_btn {
		border: 1px solid #000000;
		border-radius: 7px;
		display: block;
		padding: 10px;
	}
}
.header-search {
	display: flex;
	column-gap: 35px;
}
.search {
	width: 264px;
	position: relative;
	&__input {
		border: solid 1px #d9d9d9;
		border-radius: 2.25px;
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
		padding: 12px 17px 12px 52px;
		@include hidePlaceholder(300, ease);
		&::placeholder {
			color: #b1aeae;
		}
	}
	&__btn {
		background: none;
		position: absolute;
		top: 50%;
		transform: translateY(-42%);
		left: 10px;
		@include svgHover(#199cff);
	}
}
.language-select-items {
	display: flex;
	align-items: center;
	cursor: pointer;
	column-gap: 5px;
}
.language-select {
	@include hoverText(#007bff);
	display: block;
	font-weight: 400;
	background-position-y: center;
	background-position-x: right;
	box-sizing: border-box;
	appearance: none;
	cursor: pointer;
	position: relative;
	option {
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
		background: none;
		&:checked {
			background-color: #007bff;
			color: #fff;
		}
	}
}
.menu__link-active {
	font-weight: 500;
}
// =====================================================================================================================

// Burger

.icon-menu {
	display: none;
	@include media(767) {
		display: block;
		position: relative;
		width: rem(35);
		height: rem(18);
		cursor: pointer;
		z-index: 15;
		span,
		&::before,
		&::after {
			content: '';
			transition: all 300ms ease 0ms;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

@media (max-width: 1550px) {
	.logo__image {
		max-width: 140px;
	}
	.header__container {
		max-width: 1240px;
		height: 100%;
	}
	.header {
		padding: 36px 0 28px;
	}
	.menu__list {
		column-gap: 30px;
	}
	.menu__link_btn {
		border: none;
		padding: 0;
	}
	.menu__link {
		font-size: 12px;
	}
	.search {
		width: 197px;
		&__input {
			padding: 10px 15px 10px 52px;
			width: 100%;
		}
	}
}
@media (max-width: 1230px) {
	.header__container {
		max-width: 707px;
	}
	.header {
		padding: 30px 0 50px;
	}
	.header-search {
		margin-left: auto;
		column-gap: 50px;
	}
	.header__container {
		column-gap: 30px;
		row-gap: 35px;
		flex-wrap: wrap;
	}
	.header__menu {
		order: 5;
		width: 100%;
		justify-content: space-between;
	}
	.menu__list {
		justify-content: space-between;
	}
	.scrolled{
		padding: 10px 0;
	}
}
@media (max-width: 767px) {
	.header {
		padding: 24px 0 46px;
	}
	.menu {
		transform: translateX(-1000px);
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: #fff;
		z-index: 13;
		transition: 0.6s;
		&__list {
			flex-direction: column;
			padding-top: 70px;
			row-gap: 25px;
			overflow: auto;
		}
		&__link {
			font-size: 26px;
		}
	}
	.menu-open {
		.menu {
			transform: translate(0);
		}
	}
	.header__buttons {
		display: none;
	}
	.language-select-items {
		display: none;
	}
	.header-search {
		width: 100%;
		order: 3;
	}
	.search {
		width: 100%;
	}
	.scrolled {
		padding: 10px 0;

		.menu__link {
			color: #000;
		}
	}
	.menu-open {
		.icon-menu span,
		.icon-menu::before,
		.icon-menu::after {
			background-color: black;
		}
	}
}
