.wrapper-home {
	.header {
		position: absolute;
		top: 0;
		z-index: 25;
	}
	.icon-menu span, .icon-menu::before, .icon-menu::after{
		background-color:#fff;
	}
	.search__input {
		background-color: rgba(#ffff, 0.4);
		color: #fff;
		&::placeholder {
			color: #fff;
		}
	}
	.language-select {
		background: none;
		color: #fff;
	}
	.search {
		svg {
			path {
				stroke: #fff;
			}
		}
	}
	.language-select-arrow {
		svg {
			path {
				fill: #fff;
			}
		}
	}
	.menu__link {
		color: #fff;
		border-color: #fff;
		@include hoverText($hoverColor);
	}
	.header__button {
		svg {
			filter: brightness(0) invert(1);
			path {
				stroke: #fff;
			}
		}
		&:hover{
			svg{
				filter: none;
			}
		}
		@include svgHover($hoverColor);
	}
	.scrolled {
		position: fixed;
		top: 0;
		padding: 10px;
		background-color: #000000;
		// .search__input {
		// 	background: none;
		// 	color: #000000;
		// 	&::placeholder {
		// 		color: #B1AEAE;
		// 	}
		// }
		// .language-select{
		// 	background:none;
		// 	color:#000000;
		// }
		// .search {
		// 	svg {
		// 		path {
		// 			stroke: #B1AEAE;
		// 		}
		// 	}
		// }
		// .language-select-arrow{
		// 	svg{
		// 		path{
		// 			fill:#000000;
		// 		}
		// 	}
		// }
		// .menu__link {
		// 	color: #000000;
		// 	border-color: #000000;
		// }
		// .header__button {
		// 	svg{
		// 		filter:none;
		// 	}
		// 	svg {
		// 		path {
		// 			stroke: #000000;
		// 		}
		// 	}
		// }
	}
}

.banner {
	background-image: url(../../images/banner.jpg);
	position: relative;
	background-size: cover;
	padding: 0px;
	height: 100vh;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: rgba(black, 0.4);
	}
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__container {
		position: relative;
		z-index: 2;
		width: 100%;
	}
	&__title {
		font-family: Inter;
		font-size: 96px;
		font-weight: 600;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 69px;
	}
	&__buttons {
		display: flex;
		justify-content: center;
		column-gap: 26px;
		margin-bottom: 50px;
	}
	&__btn {
		font-weight: 500;
		color: #fff;
		padding: 20px 40px;
		background-color: #2d3e91;
		border-radius: 25px;
		transition: 0.6s;
		@include hoverButton();
		@include hoverText($hoverColor);
	}
	&__columns {
		display: flex;
		column-gap: 10px;
		justify-content: space-between;
	}
}
.banner-column {
	max-width: 397px;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 18px;
	padding: 17.5px;
	&__title {
		color: #199cff;
		font-family: Inter;
		font-size: 66px;
		font-weight: 700;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: center;
	}
	&__text {
		color: #fff;
		text-align: center;
	}
}
.collection {
	max-width: 1440px;
	margin: 0 auto;
	padding: 53px 15px 143px;
	&__title {
		margin-bottom: 36px;
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 120px;
		row-gap: 60px;
	}
}
.collection-item {
	max-width: 390px;
	width: 100%;
	cursor: pointer;
	&__images-ibg {
		height: 533px;
		margin-bottom: 24px;
		border: 1px #000000 solid;
	}
	&__img {
		transition: 0.6s;
	}
	&__name {
		margin-bottom: 18px;
	}
	&__links {
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
		&-header {
			display: flex;
			margin-bottom: 18px;
			width: 100%;
		}
	}
	&__item {
		display: block;
		&_mb {
			margin-right: 30px;
		}
	}
	&__link {
		@include hoverText(black);
	}
	&:hover {
		.collection-item__img {
			transform: scale(1.2);
		}
	}
}
.products {
	padding-bottom: 175px;
	&__title {
		margin-bottom: 70px;
	}
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 19px;
		row-gap: 39px;
	}
}
.products-item {
	&__images-ibg {
		border: 1px solid #a6d8df;
		margin-bottom: 13px;
		img {
			transition: 0.4s;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;
	}
	&__name {
		font-size: 20px;
	}
	&__btn {
		@include svgHover(rgb(148, 20, 20));
	}
	&__text {
		font-family: Inter;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		color: #989595;
		margin-bottom: 13px;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__color-name {
		color: #000000;
	}
	&__color {
		width: 20px;
		height: 20px;
		display: block;
		border-radius: 50%;
	}
	&__price {
		font-weight: 700;
	}
	&__colors {
		display: flex;
		align-items: center;
		column-gap: 9px;
	}
	#grey {
		background-color: #7c7f85;
	}
	#green {
		background-color: #088031;
	}
	#blue {
		background-color: #1381e7;
	}
	&__color {
		transition: 0.6s;
		&:hover {
			box-shadow: 0 2px 8px black;
		}
	}
	&__add {
		background-color: #eaf6f8;
		padding: 12px;
		border-radius: 50%;
		transition: 0.6s;
		border: 1px solid rgba(red, 0);
		//@include svgHover($hoverColor);
		&:hover {
			border: 1px solid $hoverColor;
		}
	}
}
.companies {
	background-color: #f3f3f3;
	padding-bottom: 160px;
	padding-top: 100px;

	&__items {
		display: flex;
		justify-content: space-between;
		column-gap: 89px;
	}
}
.companies-item {
	max-width: 271px;
	&__images-ibg {
		background-color: #fff;
		transition: 0.6s;
		box-shadow: 0px 4px 4px 0px #00000040;
		width: 227px;
		margin: 0 auto;
		height: 206px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 43px;
		img {
			width: 196px;
			object-fit: contain;
		}
	}
	&__desc {
		text-align: center;
		color: #000000;
		position: relative;
		transition: 0.5s;
	}
	&:hover {
		.companies-item__images-ibg {
			box-shadow: 0px 4px 4px 0px $fontColor;
		}
		.companies-item__desc {
			color: $hoverColor;
			span {
				background-color: $hoverColor;
			}
		}
	}
}
.banners-home {
	padding-bottom: 168px;
}
.banners-suppliers {
	background-color: rgba(#5ab8c5, 13%);
	padding-right: 86px;
	position: relative;
	&__container {
		padding-left: 600px;
	}
	&__inner {
		margin-left: auto;
		padding: 23px 0;
		max-width: 1040px;
		position: relative;
		z-index: 2;
	}
	&__title {
		max-width: 739px;
		font-family: Inter;
		font-size: 32px;
		font-weight: 600;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: center;

		margin: 0 auto;
		margin-bottom: 20px;
	}
	&__list {
		display: flex;
		row-gap: 53px;
		flex-direction: column;
	}
	&__item {
		display: flex;
		column-gap: 224px;
		&:first-child {
			align-items: center;
		}
		&:nth-child(2) {
			margin-left: 170px;
		}
		&:nth-child(3) {
			margin-left: -70px;
		}
		&:last-child {
			margin-left: auto;
		}
	}
	.banners-suppliers__icon {
		max-width: 100%;
	}
	&__link-transform {
		transform: translateY(-50%);
	}
	&::after {
		content: '';
		background-image: url(../../images/banner-home-one.png);
		width: 40%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
.banner-fabric {
	position: relative;
	&__contant {
		padding-top: 113px;
		padding-left: 40px;
		padding-bottom: 127px;
		max-width: 718px;
		position: relative;
		z-index: 2;
	}
	&__name {
		text-align: left;
		margin-bottom: 28px;
		color: #000000;
	}
	&__item {
		font-family: Inter;
		font-size: 32px;
		font-weight: 400;
		line-height: 1.6;
		letter-spacing: 0em;
		text-align: left;
		padding-left: 30px;
		position: relative;
		&::before {
			content: '';
			width: 3px;
			height: 3px;
			background-color: #000000;
			left: 0;
			top: 25px;
			border-radius: 50%;
			position: absolute;
		}
	}
	&::before {
		content: '';
		width: 60%;
		top: 0;
		right: 0;
		height: 100%;
		position: absolute;
		background-size: cover;
		background-image: url(../../images/banner-home-two.jpg);
		min-width: 54%;
		max-width: 60%;
	}
}
@media (max-width: 1550px) {
	.banner {
		padding: 40px 0 45px;
		&__container {
			max-width: 1340px;
		}
	}
	.banner__title {
		font-size: 72px;
		margin-bottom: 52px;
	}
	.banner__buttons {
		margin-bottom: 37px;
	}
	.banner-column__text {
		font-size: 18px;
	}
	.banner-column__title {
		font-size: 50px;
	}
	.banner-column {
		row-gap: 16px;
	}
	.collection {
		max-width: 1080px;
		padding: 46px 0 107px;
		&__items {
			column-gap: 89px;
		}
	}
	.collection-item__images-ibg {
		height: 399px;
		margin-bottom: 17px;
	}
	.collection-item__name {
		margin-bottom: 13px;
		font-size: 18px;
	}
	.collection-item__links-header {
		margin-bottom: 13px;
	}
	.collection-item__item_mb {
		margin-right: 22px;
	}
	.collection-item__links {
		column-gap: 22px;
	}
	.collection-item__link {
		font-size: 14px;
	}
	.collection__title {
		margin-bottom: 27px;
		font-size: 35px;
	}
	.products {
		padding-bottom: 71px;
	}
	.products__container {
		max-width: 1240px;
	}
	.products__title {
		margin-bottom: 52px;
		font-size: 29px;
	}
	.products__items {
		column-gap: 14px;
	}
	.products-item__name {
		font-size: 14px;
	}
	.products-item__header {
		margin-bottom: 0;
	}
	.products-item__text {
		font-size: 12px;
		margin-bottom: 9px;
	}
	.products-item__price {
		font-size: 18px;
	}
	.products-item__color-name {
		font-size: 15px;
	}
	.products-item__color {
		width: 15px;
		height: 15px;
	}
	.products-item__add {
		padding: 9px;
		svg {
			width: 19px;
			height: 19px;
		}
	}

	.companies__container {
		max-width: 1270px;
	}
	.companies__items {
		column-gap: 59px;
	}
	.companies-item__desc {
		font-size: 14px;
	}
	.companies-item__images-ibg {
		width: 169px;
		height: 154px;
		margin-bottom: 32px;
		img {
			width: 146px;
		}
	}
	.companies-item {
		max-width: 202px;
	}
	.banners-suppliers__title {
		font-size: 23px;
		max-width: 553px;
		margin-bottom: 15px;
	}
	.banners-suppliers__item {
		column-gap: 165px;
	}
	.banners-suppliers__image-ibg {
		min-width: auto;
		height: auto;
		max-height: 650px;
	}
	.banner-fabric__item {
		font-size: 24px;
	}
	.banner-fabric__contant {
		max-width: 516px;
	}
	.banners-suppliers__icon {
		min-width: 171px;
	}
	.banners-suppliers__container {
		padding-left: 520px;
	}
	.banners-suppliers__item {
		&:nth-child(1) {
			.banners-suppliers__icon {
				max-width: 240px;
				max-height: 101px;
			}
		}
		&:last-child {
			.banners-suppliers__icon {
				max-width: 285px;
			}
		}
	}
	.banners-suppliers__item:nth-child(3) {
		column-gap: 90px;
		.banners-suppliers__icon {
			max-width: 294px;
			max-height: 73px;
		}
	}
}
@media (max-width: 1230px) {
	.banner {
		padding: 84px 0 90px;
		&__container {
			max-width: 677px;
		}
	}
	.banner__title {
		font-size: 48px;
		margin-bottom: 47px;
	}
	.banner__buttons {
		margin-bottom: 37px;
	}
	.banner-column__text {
		font-size: 18px;
	}
	.banner-column__title {
		font-size: 50px;
	}
	.banner-column {
		row-gap: 16px;
		padding-top: 12px;
		padding-bottom: 12px;
		max-width: 301px;
	}
	.banner__btn {
		font-size: 12px;
		padding: 15px 33px;
	}
	.banner__buttons {
		margin-bottom: 118px;
	}
	.banner__columns {
		flex-wrap: wrap;
		row-gap: 11px;
	}
	.collection {
		max-width: 690px;
		padding: 58px 0 95px;
		&__items {
			column-gap: 89px;
			grid-template-columns: 1fr 1fr;
		}
	}
	.collection__title {
		margin-bottom: 52px;
	}
	.products {
		padding-bottom: 116px;
	}
	.products__container {
		max-width: 630px;
	}
	.products__title {
		margin-bottom: 48px;
	}
	.products__items {
		grid-template-columns: 1fr 1fr;
	}
	.companies {
		padding-bottom: 73px;
	}
	.companies__items {
		column-gap: 55px;
		flex-wrap: wrap;
		justify-content: space-around;
		row-gap: 80px;
	}
	.companies-item__desc {
		column-gap: 5px;
		font-size: 14px;
	}
	.companies-item__images-ibg {
		width: 169px;
		height: 154px;
		margin-bottom: 32px;
		img {
			width: 146px;
		}
	}
	.companies-item {
		max-width: 202px;
	}
	.banners-suppliers__title {
		font-size: 16px;
		max-width: 350px;
	}
	.banners-suppliers__icon {
		min-width: 100px;
	}
	.banners-suppliers__item {
		column-gap: 78px;
	}
	.banner-fabric {
		&::before {
			width: 70%;
		}
	}
	.banner-fabric {
		display: flex;
		flex-direction: column;
		align-items: center;
		&::before {
			background-image: url('../../images/bg-adapt.jpg');
			max-width: 689px;
			width: 100%;
			order: 2;
			height: 374px;
			position: static;
			margin: 0 15px;
			border-radius: 6px;
		}
	}
	.banner-fabric__container {
		margin: 0 auto;
		text-align: center;
	}
	.banner-fabric__contant {
		padding-top: 122px;
		padding-bottom: 42px;
	}
	.banner-fabric__item {
		text-align: center;
	}
	.banner-fabric__name {
		font-size: 29px;
		text-align: center;
	}
	.banners-suppliers {
		&::after {
			background-image: url(../../images/adapt-banner.jpg);
			width: 40%;
		}
	}
	.banners-suppliers__item {
		&:nth-child(1) {
			column-gap: 82px;
			.banners-suppliers__icon {
				max-width: 120px;
				max-height: 50px;
			}
		}
		&:nth-child(2) {
			column-gap: 86px;
			margin-left: 34px;
			.banners-suppliers__icon {
				max-width: 112px;
				max-height: 32px;
			}
		}
		&:nth-child(3) {
			column-gap: 80px;
			margin-left: -28px;
			.banners-suppliers__icon {
				max-width: 147px;
				max-height: 37px;
			}
		}
		&:last-child {
			margin-left: 40%;
			.banners-suppliers__icon {
				max-width: 142px;
			}
		}
	}
	.banners-suppliers__list {
		row-gap: 18px;
	}
	.banners-suppliers__container {
		padding-left: 50%;
	}
	.banners-suppliers__inner {
		padding: 10px 0;
	}
	.banners-suppliers {
		padding-right: 0;
	}
	.banners-suppliers__title {
		margin: 0;
		margin-bottom: 41px;
	}
	.banner-fabric__contant {
	}
	.banner-fabric__item {
		padding-left: 9px;
	}
	.banner-fabric__item::before {
		top: 16px;
	}
	.banner-fabric__contant {
		padding-left: 0;
	}
	.banner__container {
		padding-top: 100px;
	}
	.banner__buttons {
		margin-bottom: 70px;
	}
}
@media (max-width: 767px) {
	.banner {
		padding: 84px 0 0px;
		height: auto;
		&__container {
			max-width: 677px;
		}
	}
	.banner__title {
		font-size: 31px;
		max-width: 310px;
		margin: 0 auto;
		margin-bottom: 29px;
	}
	.banner__buttons {
		margin-bottom: 37px;
	}
	.banner-column {
		row-gap: 16px;
		padding-top: 12px;
		padding-bottom: 12px;
		max-width: 301px;
	}
	.banner__btn {
		padding: 15px 28px;
	}
	.banner__buttons {
		margin-bottom: 47px;
	}
	.banner__columns {
		flex-direction: column;
		align-items: center;
		row-gap: 37px;
	}
	.collection {
		padding: 84px 33px 79px;
		&__items {
			grid-template-columns: 1fr;
		}
	}
	.collection-item {
		margin: 0 auto;
	}
	.products {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 71px;
	}
	.products__items {
		grid-template-columns: 1fr;
	}
	.products-item {
		max-width: 400px;
		margin: 0 auto;
	}
	.products__title {
		margin-bottom: 72px;
	}
	.companies__items {
		row-gap: 32px;
	}
	.companies-item__desc {
		span {
			display: none;
		}
	}
	.banners-suppliers__image-ibg {
		height: 336px;
	}
	.banner-fabric {
		&::before {
			width: 100%;
			border-radius: 0;
			background-position: center;
		}
	}
	.banners-home {
		padding-bottom: 150px;
	}
	.banners-suppliers .banners-suppliers__icon {
		max-width: 227px;
	}
	.banners-suppliers__item:last-child {
		margin-left: 0;
	}
	.banners-suppliers {
		background: none;
		&__container {
			padding-left: 0;
		}
		&__inner {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__title {
			font-size: 16px;
			margin-bottom: 29px;
		}
		&__item:nth-child(3),
		&__item:nth-child(2) {
			margin-left: 0;
		}
		&__list {
			row-gap: 25px;
		}
		&__item {
			flex-direction: column;
			row-gap: 25px;
			display: flex;
			align-items: center;
		}
		&__link-transform {
			transform: translate(0);
		}
		.banners-suppliers__item:nth-child(1) {
			.banners-suppliers__icon {
				max-width: 215px;
				max-height: 120px;
			}
		}
		.banners-suppliers__item:nth-child(3) {
			.banners-suppliers__icon {
				max-width: 215px;
				max-height: 120px;
			}
		}
		.banners-suppliers__item:nth-child(4) {
			.banners-suppliers__icon {
				max-width: 215px;
				max-height: 120px;
			}
		}
		.banners-suppliers__container {
			padding: 0 15px;
			order: 2;
		}
	}
	.banners-suppliers {
		display: flex;
		flex-direction: column;
		row-gap: 50px;
	}
	.banners-suppliers::after {
		position: static;
		width: 100%;
		height: 336px;
		display: block;
	}
	.banner-fabric::before {
		max-width: 100%;
		height: 374px;
	}
	.banner__btn {
		&:nth-child(1) {
			margin-left: -15px;
		}
		&:nth-child(2) {
			margin-right: -15px;
		}
	}
	.banner__buttons {
		column-gap: 32px;
	}
	.products__container {
		padding: 0;
	}

	.wrapper-home .scrolled {
		padding: 0;
		padding-bottom: 12px;
		padding-top: 12px;
	}
	.wrapper-home .menu__link{
		color:#000000;
	}
}
