.order {
	max-width: 1180px;
	padding: 0 15px;
	margin: 0 auto;
	padding-top: 66px;
	padding-bottom: 114px;
	width: 100%;
	&__title {
		margin-bottom: 26px;
	}
	&__sub-title {
		margin-bottom: 12px;
		font-family: Raleway;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: center;
	}
	&__inner {
		background-color: #eeeeee;
		max-width: 879px;
		width: 100%;
		margin: 0 auto;
	}
	&__items {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		position: relative;
		&::after {
			content: '';
			width: 100%;
			background-color: #c3c3c3;
			width: 100%;
			height: 1px;
		}
	}
	&__footer {
		display: flex;
		justify-content: end;
		column-gap: 20px;
		align-items: center;
		padding: 12px 21px;
		margin-bottom: 81px;
	}
	&__link {
		display: block;
		background-color: #eaf6f8;
		text-align: center;
		padding: 19px;
		max-width: 260px;
		margin: 0 auto;
		font-family: Inter;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		border-radius: 40px;
		@include hoverButton();
	}
	&__text {
		font-family: Inter;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		&-price {
			font-size: 24px;
		}
	}
}
.order-item {
	padding: 11px 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	&__name {
		font-family: Inter;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		width: 100%;
	}
	&__images-ibg {
		height: 100px;
		width: 82px;
	}
	&__links {
		column-gap: 20px;
		row-gap: 15px;
		display: flex;
		flex-wrap: wrap;
		max-width: 200px;
	}
	&__link {
		position: relative;
		font-family: Inter;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #9a9a9a;
		padding-bottom: 3px;
		&::after {
			content: '';
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			position: absolute;
			background-color: #9a9a9a;
			transition: 0.4s;
		}
		&:hover {
			&::after {
				width: 0;
			}
		}
	}
	&__link_blue {
		color: #0063ae;
		&::after {
			background-color: #0063ae;
		}
	}
	&__sum {
		display: flex;
	}
	&__input {
		max-width: 51px;
		text-align: center;
		font-family: Inter;
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: 0em;
		color: #000;
	}
	&__btn {
		font-family: Inter;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: left;
		color: #000;
		background-color: #eaf6f8;
		width: 28px;
		height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include hoverButton();
	}
	&__right {
		display: flex;
		column-gap: 73px;
		align-items: center;
		position: relative;
		&::after {
			content: '';
			width: 1px;
			height: 200%;
			position: absolute;
			right: 75px;
			background-color: #bdbdbd;
		}
	}
	&__price {
		font-family: Inter;
		font-size: 32px;
		font-weight: 500;
		line-height: 1.4;
		color: #000000;
		letter-spacing: 0em;
		text-align: left;
	}
	&__remove {
		@include svgHover(rgb(172, 13, 13));
	}
}
@media (max-width: 1550px) {
	.order__title {
		margin-bottom: 90px;
		font-size: 30px;
	}
	.order-item {
		width: 896px;
		padding: 0 18px;
		&__links {
			column-gap: 13px;
			row-gap: 11px;
			margin-left: 0px;
		}
		&__link {
			font-size: 15px;
		}
		&__price {
			font-size: 24px;
		}
	}
	.order__footer {
		margin-bottom: 61px;
	}
	.order__link {
		font-size: 15px;
		padding: 14px;
		max-width: 197px;
	}
	.order-item__images-ibg {
		height: 100%;
		width: 62px;
	}
	.order__footer {
		padding-right: 150px;
	}
}
@media (max-width: 1230px) {
	.order {
		&__container {
			max-width: 707px;
		}
	}
	.order-item {
		max-width: 100%;
		&__left {
			column-gap: 31px;
		}
		&__images-ibg {
			width: 44px;
			height: 54px;
		}
		&__links {
			column-gap: 9px;
			row-gap: 8px;
			max-width: 174px;
		}
		&__input {
			font-size: 10px;
			height: 15px;
		}
		&__link {
			font-size: 10px;
		}
		&__btn {
			width: 15px;
			height: 15px;
			font-size: 10px;
		}
	}
	.order__footer {
		padding-right: 125px;
		margin-bottom: 44px;
	}
	.order-item__price {
		font-size: 17px;
	}
	.order-item__remove {
		svg {
			width: 25px;
			height: 25px;
		}
	}
	.order-item__right::after {
		right: 55px;
	}
	.order__link {
		font-size: 10px;
		max-width: 141px;
		padding: 10px;
	}
	.order__text {
		font-size: 12px;
	}
}
@media (max-width: 767px) {
	.order {
		&__items {
			margin-bottom: 114px;
		}
	}
	.order-item {
		row-gap: 6px;
		flex-wrap: wrap;
		max-width: 300px;
		width: 100%;
		padding: 14px 12px 38px;
	}
	.order-item__right::after {
		display: none;
	}
	.order-item__sum {
		order: 1;
	}
	.order-item__remove {
		display: none;
	}
	.order-item__links {
		order: 2;
	}
	.order-item__right {
		margin-top: 22px;
		order: 3;
		max-width: 100%;
		width: 100%;
	}
	.order-item__price {
		max-width: 100%;
		width: 100%;
		text-align: center;
	}
	.order__footer {
		display: none;
	}
	.order {
		padding-top: 50px;
		padding-bottom: 107px;
	}
}
