.order {
	max-width: 1180px;
	padding: 0 15px;
	margin: 0 auto;
	padding-top: 66px;
	padding-bottom: 114px;
	width: 100%;
	&__title {
		margin-bottom: 26px;
	}
	&__sub-title {
		margin-bottom: 12px;
		font-family: Raleway;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: center;
	}
	&__inner {
		background-color: #eeeeee;
		max-width: 879px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 126px;
	}
	&__items {
		display: flex;
		flex-direction: column;
		position: relative;
		&::after {
			content: '';
			width: 100%;
			background-color: #c3c3c3;
			width: 100%;
			height: 1px;
		}
	}
	&__footer {
		display: flex;
		justify-content: end;
		column-gap: 20px;
		align-items: center;
		padding: 12px 21px;
	}
	&__link {
		display: block;
		background-color: #eaf6f8;
		text-align: center;
		padding: 19px;
		max-width: 260px;
		margin: 0 auto;
		font-family: Inter;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		border-radius: 40px;
		@include hoverButton();
	}
	&__text {
		font-family: Inter;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		&-price {
			font-size: 24px;
		}
	}
}
.order-item {
	padding: 11px 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	margin-top: 20px;
	&:first-child {
		margin-top: 0;
	}
	&__name {
		font-family: Inter;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		width: 100%;
	}
	&__delivery {
		font-family: Inter;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
	&__images-ibg {
		height: 68px;
		width: 55px;
	}
	&__links {
		column-gap: 10px;
		row-gap: 15px;
		display: flex;
		flex-wrap: wrap;
		max-width: 210px;
	}
	&__link {
		position: relative;
		font-family: Inter;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #9a9a9a;
		padding-bottom: 3px;
		&::after {
			content: '';
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			position: absolute;
			background-color: #9a9a9a;
			transition: 0.4s;
		}
		&:hover {
			&::after {
				width: 0;
			}
		}
	}
	&__link_blue {
		color: #0063ae;
		&::after {
			background-color: #0063ae;
		}
	}
	&__sum {
		display: flex;
	}
	&__input {
		max-width: 51px;
		text-align: center;
		font-family: Inter;
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: 0em;
		color: #000;
	}
	&__btn {
		font-family: Inter;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: left;
		color: #000;
		background-color: #eaf6f8;
		width: 28px;
		height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include hoverButton();
	}
	&__right {
		display: flex;
		column-gap: 43px;
		align-items: center;
		position: relative;
		&::after {
			content: '';
			width: 1px;
			height: 150%;
			position: absolute;
			right: 75px;
			background-color: #bdbdbd;
		}
	}
	&__price {
		font-family: Inter;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
	&__remove {
		@include svgHover(rgb(172, 13, 13));
	}
}
@media (max-width: 1550px) {
	.order__title {
		font-size: 36px;
		margin-bottom: 24px;
	}
	.order__inner {
		margin-bottom: 102px;
	}
}
@media (max-width: 1230px) {
	.order {
		max-width: 707px;
		&__title {
			font-size: 33px;
			margin-bottom: 14px;
		}
		&__inner {
			margin-bottom: 64px;
		}
		&__sub-title {
			font-size: 20px;
			margin-bottom: 30px;
		}
	}
	.order__link {
		max-width: 230px;
		padding: 15px;
		font-size: 18px;
	}
	.order__inner {
		width: 100%;
	}
	.order-item__right {
		column-gap: 20px;
	}
	.order-item__right::after {
		right: 40px;
	}
	.order-item__remove {
		svg {
			width: 34px;
		}
	}
	.order-item__btn,
	.order-item__input {
		height: 20px;
	}
	.order-item__input {
		max-width: 40px;
		font-size: 16px;
	}
	.order-item__btn {
		width: 20px;
		font-size: 16px;
	}
	.order__text {
		font-size: 14px;
	}
	.order__footer {
		column-gap: 15px;
		padding: 8px 21px;
	}
	.order__text-price {
		font-size: 18px;
	}
}
@media (max-width: 767px) {
	.order__title {
		font-size: 30px;
	}
	.order__sub-title {
		font-size: 16px;
		margin-bottom: 30px;
	}
	.order-item__images-ibg {
		width: 44px;
	}
	.order-item {
		flex-wrap: wrap;
		row-gap: 20px;
		align-items:center;
	}
	.order-item__right::after {
		width: 0;
		height: 0;
	}
	.order__container{
		padding: 0;
	}
	.order-item__links{
		max-width: 100%;
		order: 2;
	}
	.order-item__right{
		order: 1;
	}
	.order-item__sum{
		order: 3;
	}
	.order-item__delivery{
		order: 4;
	}
	.order__inner {
		max-width: 320px;
		flex-wrap: wrap;
		column-gap: 20px;
	}
	.order-item__links {
		width: 100%;
	}
	.order__link {
		max-width: 141px;
		padding: 10px;
		font-size: 11px;
	}
}
