.product {
	padding-top: 74px;
	padding-bottom: 150px;

	&__inner {
		display: flex;
		justify-content: space-between;
	}
}
.product-images {
	width: 516px;
	.fotorama__wrap--css3 .fotorama__html,
	.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
		max-height: 473px !important;
		max-width: 390px !important;
		margin: 0 auto;
	}
	.fotorama__stage {
		height: 503px !important;
	}
}
.product-content {
	max-width: 909px;
	width: 100%;
	&__title {
		font-family: $mainFont;
		font-size: 40px;
		font-weight: 400;
		line-height: 49px;
		letter-spacing: 0em;
		margin-bottom: 51px;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}
	&__buttons {
		margin-top: 37px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 33px;
	}
	&__btn,
	&__add {
		font-family: $mainFont;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: center;
		padding: 20px;
		background-color: #eaf6f8;
		border-radius: 50%;
		@include hoverButton();
	}
	&__btn {
		max-width: 417px;
		width: 100%;
		border-radius: 70px;
	}
}
.product-content-price {
	display: flex;
	align-items: center;
	column-gap: 32px;
	&__sale {
		display: inline;
		font-family: Inter;
		font-size: 32px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
		color: #a0a0a0;
		position: relative;
		&::after {
			content: '';
			top: 50%;
			left: 0;
			position: absolute;
			width: 110%;
			height: 2px;
			background-color: #a0a0a0;
		}
	}
	&__price {
		font-family: Inter;
		font-size: 64px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
	}
	&__sale-text {
		font-family: Inter;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #b90505;
	}
}
.product-colors {
	padding-top: 43px;
	&__title {
		font-family: Inter;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.3;
		color: #000;
		letter-spacing: 0em;
		margin-bottom: 14px;
	}
	&__items {
		display: flex;
		column-gap: 11px;
	}
	&__link {
		display: block;
		width: 26px;
		height: 26px;
		background-color: black;
		border-radius: 50%;
		transition: 0.5s;
		&:hover {
			box-shadow: 0 2px 8px black;
			//background-color: red !important;
		}
	}
}
.product-characteristics {
	&__title {
		font-family: Inter;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: 0em;
		margin-bottom: 33px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		padding: 21px 13px;
		background-color: #f0f0f0;
		&:nth-child(even) {
			background-color: #ffff;
		}
	}
	&__text {
		font-family: Inter;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: center;
	}
}
// Сховати вміст всіх вкладок, крім активної
.tabs {
	padding-top: 100px;
	&__header {
		display: flex;
		column-gap: 63px;
		margin-bottom: 52px;
	}
	&__name {
		font-family: Inter;
		font-size: 24px;
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: left;
		position: relative;
		padding-bottom: 4px;
		&::before {
			content: '';
			transition: 0.6s;
			width: 0;
			bottom: 0;
			height: 2px;
			left: 0;
			position: absolute;
			background-color: #000000;
		}
		&:hover {
			&::before {
				width: 100%;
			}
		}
	}
	.ui-state-active {
		.tabs__name {
			font-weight: 700;
			&::before {
				width: 100%;
			}
		}
	}
}

.popup-order {
	transition: 0.6s;
	transform: scale(0);
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(black, 0.3);
	z-index: 40;
	display: flex;
	align-items: center;
	justify-content: center;
	&__inner {
		background-color: #ffff;
		box-shadow: 0px 4px 4px 0px #afafaf40;
		border: 1px solid #d1d1d1;
		padding: 32px 32px 29px 32px;
		border-radius: 13px;
		max-width: 503px;
		width: 100%;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
	}
	&__images-ibg {
		height: 139px;
		max-width: 114px;
	}
	&__name {
		font-family: Inter;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
		margin-bottom: 33px;
	}
	&__prices {
		display: flex;
		column-gap: 15px;
	}
	&__selt-num {
		font-family: Inter;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		color: #a0a0a0;
		letter-spacing: 0em;
		text-align: left;
		position: relative;
		&::before {
			content: '';
			width: 95%;
			height: 2px;
			background-color: #a0a0a0;
			top: 50%;
			left: -8%;
			position: absolute;
		}
	}
	&__selt-text {
		font-family: Inter;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.1;
		letter-spacing: 0em;
		text-align: left;
		color: #b90505;
		margin-top: 7px;
	}
	&__price {
		font-family: Inter;
		font-size: 40px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
	&__text {
		font-family: Inter;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
		margin-bottom: 9px;
	}
	&__input {
		width: 100%;
		border-radius: 7px;
		border: 1px solid #c0c0c0;
		padding: 7px 12px;
		margin-bottom: 25px;
	}
	&__buttons {
		display: flex;
		height: 28px;
		margin-bottom: 27px;
	}
	&__number {
		height: 100%;
		width: 51px;
		font-family: Inter;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: center;
	}
	&__btn {
		width: 28px;
		height: 100%;
		background-color: #eaf6f8;
		font-family: Inter;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: 0em;
		@include hoverButton();
	}
	&__button {
		font-family: Inter;
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: center;
		color: #000000;
		padding: 15px;
		max-width: 265px;
		width: 100%;
		background-color: #eaf6f8;
		border-radius: 70px;
		@include hoverButton();
	}
}
.popup-successful {
	transition: 0.6s;
	transform: scale(0);
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(black, 0.3);
	z-index: 40;
	display: flex;
	align-items: center;
	justify-content: center;
	&__inner {
		padding: 68px 78px 64px;
		max-width: 503px;
		width: 100%;
		border-radius: 13px;
		background-color: #ffff;
		box-shadow: 0px 4px 4px 0px #afafaf40;
		border: 1px solid #d1d1d1;
	}
	&__content {
		max-width: 348px;
		margin: 0 auto;
		margin-bottom: 82px;
	}
	&__title {
		display: flex;
		align-items: center;
		column-gap: 22px;
		font-family: Inter;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: center;
		margin-bottom: 44px;
	}
	&__text {
		font-family: Inter;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: center;
		color: #000000;
	}
	&__btn {
		margin: 0 auto;
		display: block;
	}
}
@media (max-width: 1550px) {
	.product-page {
		&__container {
			max-width: 1240px;
		}
	}
	.product-content {
		max-width: 664px;
		&__title {
			margin-bottom: 36px;
			font-size: 32px;
		}
	}
	.tabs {
		padding-top: 80px;
		&__name {
			font-size: 22px;
		}
	}
	.tabs__header {
		margin-bottom: 42px;
		column-gap: 53px;
	}
	.product-characteristics__text {
		font-size: 14px;
	}
	.product-characteristics__item {
		padding: 18px 12px;
	}
	.product-content-price__sale {
		font-size: 23px;
	}
	.product-content-price__sale-text {
		font-size: 15px;
	}
	.product-content-price__price {
		font-size: 46px;
	}

	.product-content__btn {
		padding: 15px;
	}
	.product-content__btn {
		max-width: 312px;
		font-size: 14px;
	}
	.product-content__add {
		svg {
			width: 32px;
			height: 32px;
		}
	}
	.product {
		padding-bottom: 125px;

		&__inner {
			column-gap: 40px;
		}
	}
	.product-images {
		width: 516px;
		.fotorama__wrap--css3 .fotorama__html,
		.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
			max-height: 345px !important;
			max-width: 285px !important;
		}
		.fotorama__stage {
			height: 353px !important;
		}
	}
}
.product__title {
	display: none;
}
@media (max-width: 1230px) {
	.product-page {
		&__container {
			max-width: 707px;
		}
		&__title {
			margin-bottom: 21px;
		}
	}
	.product-content-price__content {
		min-width: 127px;
	}
	.product {
		padding-bottom: 70px;
	}
	.product-content__btn {
		max-width: 300px;
	}
	.product-page {
		padding-bottom: 178px;
	}
	.product {
		padding-top: 0;
		padding-bottom: 0;
		&__images {
			margin: 0 auto;
			display: flex;
			justify-content: center;
			flex-direction: column;
			row-gap: 36px;
		}
		&__inner {
			flex-direction: column;
			row-gap: 20px;
		}
		.product-images {
			width: auto;
		}
		&__title {
			display: block;
			text-align: center;
			font-family: $mainFont;
			font-size: 32px;
			font-weight: 400;
			line-height: 1.2;
			letter-spacing: 0em;
			text-align: center;
		}
	}
	.product-content {
		&__title {
			font-size: 28px;
			text-align: center;
			display: none;
		}
	}
	.product-content-price__sale {
		font-size: 18px;
	}
	.product-content-price__price {
		font-size: 36px;
	}
	.product-colors {
		padding-top: 32px;
		&__title {
			font-size: 14px;
			margin-bottom: 10px;
		}
		&__link {
			width: 22px;
			height: 22px;
		}
	}
	.product-characteristics__title {
		margin-bottom: 15px;
		font-size: 16px;
	}
	.tabs {
		padding-top: 60px;
		&__header {
			margin-bottom: 25px;
		}
		&__name {
			font-size: 16px;
		}
		&__text {
			font-size: 14px;
		}
	}
	.product__images {
		padding-top: 40px;
	}
	.product-content-price {
		justify-content: space-between;
		width: 100%;
	}
}
@media (max-width: 767px) {
	.product {
		flex-direction: column;
		align-items: center;
		row-gap: 103px;
		padding-bottom: 56px;
	}
	.product-page {
		padding-bottom: 27px;
	}
	.product-content__btn {
		max-width: 190px;
	}
	.popup-order {
		&__inner {
			background-color: #ffff;
			box-shadow: 0px 4px 4px 0px #afafaf40;
			padding: 16px 16px 14px 16px;
			max-width: 320px;
		}
		&__header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 12px;
		}
		&__images-ibg {
			height: 109px;
			max-width: 84px;
		}
		&__name {
			font-size: 16px;
		}
		&__prices {
			column-gap: 8px;
		}
		&__selt-num {
			font-size: 16px;
			&::before {
				content: '';
				width: 95%;
				height: 2px;
				background-color: #a0a0a0;
				top: 50%;
				left: -8%;
				position: absolute;
			}
		}
		&__selt-text {
			font-size: 8px;
			margin-top: 5px;
		}
		&__price {
			font-size: 26px;
		}
		&__text {
			font-size: 12px;
			margin-bottom: 7px;
		}
		&__input {
			padding: 5px 10px;
			margin-bottom: 20px;
		}
		&__buttons {
			display: flex;
			height: 24px;
			margin-bottom: 27px;
		}
		&__number {
			width: 40px;
			font-size: 18px;
		}
		&__btn {
			width: 24px;
			font-size: 18px;
		}
		&__button {
			font-size: 12px;
			font-weight: 500;
			line-height: 17px;
			letter-spacing: 0em;
			text-align: center;
			color: #000000;
			padding: 10px;
			max-width: 175px;
			width: 100%;
			background-color: #eaf6f8;
			border-radius: 70px;
			@include hoverButton();
		}
	}
	.popup-successful {
		&__inner {
			padding: 28px 18px 24px;
			max-width: 320px;
			width: 100%;
		}
		&__content {
			max-width: 348px;
			margin: 0 auto;
			margin-bottom: 42px;
		}
		&__title {
			font-size: 18px;
			column-gap: 10px;
			margin-bottom: 20px;
			svg {
				width: 30px;
			}
		}
		&__text {
			font-family: Inter;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.2;
			letter-spacing: 0em;
			text-align: center;
			color: #000000;
		}
		&__btn {
			margin: 0 auto;
			display: block;
		}
	}
	.product-content__title {
		margin-bottom: 26px;
	}

	.product-content__add {
		width: 62px;
		height: 62px;
		padding: 0;
	}
	.product-characteristics__item {
		padding: 11px;
		column-gap: 10px;
	}
	.product-characteristics__text {
		font-size: 12px;
	}
	.tabs__header {
		column-gap: 20px;
		overflow-x: auto;
		&::-webkit-scrollbar {
			width: 8px;
			height: 0;
			background-color: transparent;
		}
	}
	.tabs__name {
		font-size: 14px;
		display: block;
		width: max-content;
	}
	.tabs__text {
		font-size: 12px;
	}
	.tabs__header {
		margin-bottom: 20px;
	}
	.product {
		&__title {
			font-size: 22px;
		}
	}
	.product__images {
		padding-top: 10px;
	}
}
.fotorama--fullscreen {
	.fotorama__stage__shaft {
		margin-top: 20px;
	}
}

.popup-order-open {
	.popup-order {
		transform: scale(1);
	}
}
.popup-successful-open {
	.popup-successful {
		transform: scale(1);

	}
}
